---
layout: default
title: Home
---


  {% include header-home.html %}
    <div class="container-full">
      <div class="container grid-xl">
        <div class="columns negative-m-s">
          <div class="column col-12 text-center">
            <h4 class="text-secondary">Meet our research groups:</h4>
          </div>
          
          {% for group in site.data.grupos_list %}
          {% capture grupo_name %}{{ group | first }}{% endcapture %}
          {% assign grupo = site.data.grupos_list[grupo_name] %}
          <div class="column col-4 col-md-6 col-sm-12">
            <a href="{{ site.baseurl }}/grupo-{{ grupo.link }}">
              <div class=" group-card card card-link">
                <div class="card-body text-center my-4">                 
                  <img src="/{{grupo.logo}}">                  
                </div>
                <div class="card-body text-center my-4">
                  <h5 class="text-bold">{{ grupo.nome }} ({{ grupo.abreviacao }})</h5>             
                  
                  <p class="m-0">{{ grupo.resumo }} </p>
                  
                </div>
              </div>
            </a>
          </div>
          {% endfor %} 
        </div>
      </div>
    </div>

    
<!--  Modal -->
<script src="/scripts/modal.js"></script>