<div class="header-bg">
  <div class="container-full">
    <div class="header ">
      {% include nav.html %}
      <header class="container grid-xl landing-header">
        <div class="columns pt-12 pb-8">
          <div class="column col-11 col-mx-auto">
            <h1 class="mt-2 super-h1">About us</h1>
            <h4 class="text-secondary">
              We are concerned with theoretical and applied research in the different branches of AI. We develop research  in the area of ​​Multiagent Systems with a focus on planning and argumentation, as well as approaches to programming and verification. In the area of ​​natural language, we focus on information extraction, dialogue systems and sentiment analysis, among others. In the area of ​​knowledge representation, we develop research with learning, and alignment of ontologies. These and other AI techniques, such as machine learning and automatic reasoning, are applied  to robotics,  the semantic web,  medicine and health, geology, safety and rescue in disaster situations. The group has international collaboration with France, Portugal, Italy and England. We also count on the collaboration of researchers in the areas of linguistics, philosophy, law and medicine, and we want to further strengthen the transdisciplinary dialogue for the development of AI.
            </h4>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>