<div id="modal-{{integrante.nome | slugify}}" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header rows row-y-align">

      <div class="columns col-x-align">
        <div class="column col-auto">
          <div class="flex-vertical-center">
            <figure class="avatar d-inline-block hide-sm" style="align-items: center; height: 5rem; width: 5rem">
              <img  src="{{ site.baseurl }}/{{ integrante.foto}}" alt="...">
            </figure>
            <div class="ml-2">
              <span class="mb-0">{{ integrante.nome }} {{integrante.sobrenome}}</span>
            </div>
            <div class="ml-2">
              <span class="mb-0">E-mail: {{integrante.email}}</span>
            </div>
          </div>
        </div>
        <div class="column">
          <span class="close">×</span>
        </div>
      </div>

      <div class="columns col-x-align"> 
        <div class="column col-auto">
          <span>{{integrante.nivel}}</span>
        </div> 
        <div class="column col-auto">
          <span>{{integrante.posicao}}</span>
        </div> 
        <div class="column col-auto">
          {% assign grupos = integrante.grupos | split: "," %}
          {% for g in grupos %}
            {% assign gs = g | strip %}
            {% assign grupo = site.data.grupos_list[gs] %}
            <a href="{{ site.baseurl }}/grupo-{{ grupo.link }}">              
              <span class="text-semibold m-0">{{ grupo.abreviacao }}</span>
            </a>
          {% endfor %}
        </div>       
      </div>

      <div class="columns col-x-align"> 
        <div class="column col-auto">
          {% for social in integrante.redes-sociais %}
          {% capture rs %}{{ social | first }}{% endcapture %}
          {% assign link = integrante.redes-sociais[rs] %}
            <span>{{rs}}: {{link}}</span>
          {% endfor %}
        </div>       
      </div>

    </div>
    <div class="modal-body">
      {% if integrante.sobre == null %}
      {% else %}
      <p>Sobre: {{integrante.sobre}}</p>
      {% endif %}
      {% if integrante.formacao == null %}
      {% else %}
      <p>Formação: {{integrante.formacao}}</p>
      {% endif %}
      {% if integrante.origem == null %}
      {% else %}
      <p>Cidade: {{integrante.origem}}</p>
      {% endif %}
    </div>
    <div class="modal-footer">
      <h3></h3>
    </div>
  </div>

</div>
