<nav class="container grid-xl navbar">
  <div class="flex-horizontal-center hide-sm">
    <a style="width: 100%;" href="{{ site.url }}{{ site.baseurl }}" class="logo flex-centered">
      <img style="max-width: 200px;" src="{{ site.baseurl }}/assets/{{ site.brand_logo }}" alt="Artificial Intelligence Research Group at PUCRS" />
    </a>
  </div>

  <div class="text-center show-sm">
    <a style="width: 100%;" href="{{ site.url }}{{ site.baseurl }}" class="logo flex-centered">
      <img style="max-width: 150px;" src="{{ site.baseurl }}/assets/{{ site.brand_logo }}" alt="Artificial Intelligence Research Group at PUCRS" />
    </a>

    <button href="#modal-menu" style="height: auto;" class="btn btn-members btn-lg btn-outline py-2 open-modal">Menu</button>

  </div>

  <ul class="main-nav">

    <!-- TODO Ajustar css do dropdown -->
    <li class="dropdown mx-4">
      <a href="{{ site.baseurl }}/" class="dropdown-toggle nav-links" style="color:white">Grupos</a>
      <ul class="menu">
        <div class="arrow"></div>
        {% for group in site.data.grupos_list %}
        {% capture grupo_name %}{{ group | first }}{% endcapture %}
        {% assign grupo = site.data.grupos_list[grupo_name] %}
          <li>
            <a href="{{ site.baseurl }}/grupo-{{grupo.link}}" class="dropdown-link">{{grupo.abreviacao}}</a>
          </li>
        {% endfor %} 
      </ul>
    </li>

    <li class="mx-4">
      <a class="nav-links" href="{{ site.baseurl }}/novidades">Novidades</a>
    </li>
    <li class="mx-4">
      <a  class="nav-links" href="{{ site.baseurl }}/integrantes">Integrantes</a>
    </li>
    <li class="mx-4">
      <a  class="nav-links" href="{{ site.baseurl }}/projetos">Projetos</a>
    </li>
    <li class="mx-4">
      <a  class="nav-links" href="{{ site.baseurl }}/publicacoes">Publicações</a>
    </li>
  </ul>
</nav>

<div id="modal-menu" class="modal">
  <ul class="menu" style="background-color: #F5365C;">
      <li class="dropdown mx-4">
        <a class="dropdown-toggle nav-links" style="color:white">Grupos</a>
        <ul class="menu" style="background-color: white;">                 
          {% for group in site.data.grupos_list %}
          {% capture grupo_name %}{{ group | first }}{% endcapture %}
          {% assign grupo = site.data.grupos_list[grupo_name] %}
            <li>
              <a href="{{ site.baseurl }}/grupo-{{grupo.link}}" class="dropdown-link">{{grupo.abreviacao}}</a>
            </li>
          {% endfor %}           
        </ul>
      </li>

      <li class="mx-4">
        <a class="nav-links" href="/novidades">Novidades</a>
      </li>
      <li class="mx-4">
        <a class="nav-links" href="/integrantes">Integrantes</a>
      </li>
      <li class="mx-4">
        <a class="nav-links" href="/projetos">Projetos</a>
      </li>
      <li class="mx-4">
        <a class="nav-links" href="/publicacoes">Publicações</a>
      </li>
  </ul>
</div>