{% assign grupos = projeto.grupos | split: ", " %}
<div class="column col-12 filter-card" data-groups="{{ grupos | sort | join: ', '' }}" data-status="{{projeto.status}}">
  <div class="card card-link my-1" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
    <div class="card-body">
      <div class="columns col-x-align">
        <div class="column col-sm-12">
          <div class="ml-2">
            <span class="text-dark mb-0">{{ projeto.titulo }}</span>
          </div>
        </div>
        <div class="column col-sm-12">
          <span class="text-semibold m-0">{{ projeto.status }}</span>
        </div>
        <div class="column col-sm-12 tag-container">
          <div class="tag-content">
          {% for g in grupos %}
            {% assign gs = g | strip %}
            {% assign grupo = site.data.grupos_list[gs] %}
            <a href="{{ site.baseurl }}/grupo-{{ grupo.link }}">              
              <span class="text-semibold m-0 tag">{{ grupo.abreviacao }}</span>
            </a>
          {% endfor %}
         </div>
        </div>
        <div class="column col-sm-12">
          {% assign pchaves = projeto.palavras-chaves | split: "," %}
          {% for chave in pchaves %}
            <span>{{chave}}</span>
          {% endfor %}            
        </div>
        <div class="column col-sm-12">
          <button href="#modal-{{projeto.titulo | slugify}}" style="height: auto;" class="btn btn-members btn-lg btn-outline py-2 open-modal">+info</button>
        </div>
      </div>
    </div>
  </div>
</div>