// Dropdown
.dropdown {
  display: inline-block;
  position: relative;

  .dropdown-toggle {
    color: $dark-color;
    border-bottom: 2px solid transparent;
    font-weight: 700;
    width: 100%;
    
    &.dropdown-link {
      color: $white;
      border-bottom: none;
      width: 100%;

      &:hover {
        border-bottom: none;
        color: $error;
      }
    }
  }

  .menu {
    animation: slide-down .15s ease 1;
    padding: 12px 0;
    display: none;
    max-height: 50vh;
    overflow-y: auto;
    margin-left: -60px;
    position: absolute;
    top: 85%;
    background: $white;

    
    li {
      margin: 0;
      width: 100%;
    }
    
    li:hover {
      background: #FE5E33;

      a {
        color: #fffffe;
      }
   }

    a {
      border: none;
    }
  }

  &.dropdown-right {
    .menu {
      left: auto;
      right: 0;
    }
  }

  &.active .menu,
  .dropdown-toggle:focus + .menu,
  .menu:hover {
    display: block;
  }

  &.active .menu,
  .dropdown-toggle:hover + .menu,
  .menu:hover {
    display: block;
  }

  // Fix dropdown-toggle border radius in button groups
  .btn-group {
    .dropdown-toggle:nth-last-child(2) {
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
}
