// Navs
.nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: $unit-1 0;
  padding: 0;

  .nav-item {
    padding: $unit-4 $unit-6;
    font-weight: 600;
    border-radius: $border-radius;
    transition: 0.4s;
    margin: 0;

    a {
      color: $gray-color-dark;
      text-decoration: none;
      border-bottom: none;

      &:hover {
        color: $primary-color;
        text-decoration: none;
        border-bottom: none;
      }
    }

    &.active {
      background: $white;
      box-shadow: $light-shadow;

      & > a {
        color: $error;
        font-weight: bold;
        
        &:focus,
        &:hover {
          color: $primary-color;
        }

      }
    }
  }

  & .nav {
    margin-bottom: $unit-2;
    margin-left: $unit-4;
  }
}

#pub .nav{
  flex-direction: row;
}


.menu-mobile-container {
  display: none;
}

@media (max-width: 767px) {
  .medium-plus-logo {
    display: none !important;
  }

  .menu-mobile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }
}

@media (max-width: 350px) { 
  .small-minus-logo img {
    display: none;
  }
}


.mobile-menu-button {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
  border: none !important;
  background: #FE5E33 !important;
  opacity: 0.9;

  img {
    pointer-events: none;
  }
}

.mobile-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-close {
  cursor: pointer;
  padding-right: 15px;
}

.mobile-menu-title {
  padding-left: 15px;
}