---
layout: default
---
{% include header.html %}

<div class="container-full">
  <div class="container grid-xl">
    <div class="mt-12 show-md"></div>
    <div class="mt-8"></div>
    <div class="columns negative-m-xl">
      <div class="column col-12">
        <div class="top-text">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{ site.url }}{{ site.baseurl }}">Air Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Members</a>
            </li>
          </ul>
          <h2 class="text-light text-bold">Breathers</h2>
          <p class="text-light mb-2">All AIR Member</p>
          <p class="text-light mb-2 filter-text">Filter by:</p>
        </div>
        <div class="column filters">
          <fieldset class="rows">      
              <legend>Groups</legend>
              {% for group in site.data.grupos_list %}
                {% capture grupo_name %}{{ group | first }}{% endcapture %}
                {% assign grupo = site.data.grupos_list[grupo_name] %}
                <div class="checkbox-container">
                  <input type="checkbox" name="groups" value="{{grupo_name}}" class="row filter">     
                  <span class="checkbox-custom"></span>
                  <p>{{ grupo.abreviacao }}</p>
                </div>     
              {% endfor %}              
          </fieldset> 
        </div>
        <div class="column filters">
          <fieldset class="rows">      
              <legend>Level</legend>
                <div class="radio-container">
                  <input type="radio" name="nivel" value="" class="row filter" checked="">
                  <span class="radio-custom"></span>
                  <p>All</p>
                </div>
                
                <div class="radio-container">
                  <input type="radio" name="nivel" value="msc" class="row filter">
                  <span class="radio-custom"></span>
                  <p>Master</p>
                </div>

                <div class="radio-container">
                  <input type="radio" name="nivel" value="doc" class="row filter">
                  <span class="radio-custom"></span>
                  <p>PhD</p>  
                </div>

                <div class="radio-container">
                  <input type="radio" name="nivel" value="pos-doc" class="row filter">
                  <span class="radio-custom"></span>
                  <p>Post-Doctoral</p>
                </div>

                <div class="radio-container">
                  <input type="radio" name="nivel" value="coord" class="row filter">
                  <span class="radio-custom"></span>
                  <p>Coordinator</p>
                </div>
              </div>
            </fieldset> 
        </div>
      </div>
      {% assign members = "" | split: "" %}
      {% for member in site.data.integrantes_list %}
        {% assign members = members | push: member %}
      {% endfor %}

      {% assign members = members | sort: "nome" %}


      {% for member in members %}
      {% assign integrante = member %}
        {% include integrante-card.html %}
        {% include integrante-modal.html %}
      {% endfor %}
      <div class="column col-12 filter-card-empty" data-groups="none" style="display: none;">
        <div class="card card-link my-1" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
          <div class="card-body">
            <div class="columns col-x-align">
              <div class="column col-sm-12">
                <div class="ml-2">
                  <span class="text-dark mb-0">No member found</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Modal -->
<script src="/scripts/modal.js"></script>
<!-- Filtros das listas -->
<script type="text/javascript" id="filters" data-filter1="groups" data-filter2="nivel" src="/scripts/filtroListas.js"></script>



