---
layout: default
---
{% include header.html %}

<div class="container-full">
  <div class="container grid-xl">
    <div class="mt-12 show-md"></div>
    <div class="mt-8"></div>
    <div class="columns negative-m-xl">
      <div class="column col-12">
        <div class="top-text">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{ site.url }}{{ site.baseurl }}">Air Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Projects</a>
            </li>
          </ul>
          <h2 class="text-light text-bold">Projects</h2>
          <p class="text-light mb-2">All projects developed by AIR</p>
          <p class="text-light mb-2 filter-text">Filter by:</p>
        </div>
        <div class="column filters">
          <fieldset class="rows">      
              <legend>Groups</legend>
              {% for group in site.data.grupos_list %}
                {% capture grupo_name %}{{ group | first }}{% endcapture %}
                {% assign grupo = site.data.grupos_list[grupo_name] %}
                <div class="checkbox-container">
                  <input type="checkbox" name="groups" value="{{grupo_name}}" class="row filter">     
                  <span class="checkbox-custom"></span>
                  <p>{{ grupo.abreviacao }}</p>
                </div>       
              {% endfor %}              
          </fieldset> 
        </div>
        <div class="column filters">
          <fieldset class="rows">      
              <legend>Status</legend>
              <div class="radio-container">
                <input type="radio" name="status" class="row filter" checked="">
                <span class="radio-custom"></span>
                <p>All</p>
              </div>

              <div class="radio-container">
                <input type="radio" name="status" value="active" class="row filter">
                <span class="radio-custom"></span>
                <p>Active</p>
              </div>

              <div class="radio-container">
                <input type="radio" name="status" value="done" class="row filter">
                <span class="radio-custom"></span>
                <p>Done</p>
              </div>

              <div class="radio-container">
                <input type="radio" name="status" value="suspended" class="row filter">
                <span class="radio-custom"></span>
                <p>Suspended</p>
              </div>          
          </fieldset> 
        </div>
      </div>
      {% assign status = site.data.projetos_list | group_by: "status" %}
      {% assign statusSorted = status | sort: "name" %}
      {% for y in statusSorted %}
        {% assign statusTitlesSorted = y.items | sort: "titulo" %}
        {% for t in statusTitlesSorted %}
          {% assign projeto = t %}
          {% include projeto-card.html %}
          {% include projeto-modal.html %}
        {% endfor %}
      {% endfor %}
      </ul>
      <div class="column col-12 filter-card-empty" data-groups="none" style="display: none;">
        <div class="card card-link my-1" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
          <div class="card-body">
            <div class="columns col-x-align">
              <div class="column col-sm-12">
                <div class="ml-2">
                  <span class="text-dark mb-0">No project has been found!</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Modal -->
<script src="/scripts/modal.js"></script>
<!-- Filtros das listas -->
<script type="text/javascript" id="filters" data-filter1="groups" data-filter2="status" src="/scripts/filtroListas.js"></script>
