---
layout: default
---
{% include header.html %}

<div class="container-full">
  <div class="container grid-xl">
    <div class="mt-12 show-md"></div>
    <div class="mt-8"></div>
    <div class="columns negative-m-xl">
      <div class="column col-12">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ site.url }}{{ site.baseurl }}">Air Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Projetos</a>
          </li>
        </ul>
        <h2 class="text-light text-bold">Projetos</h2>
        <p class="text-light mb-2">Todos os projetos realizados pelo AIR</p>
        <p class="text-light mb-2">Filtre Por:</p>
        <div class="column">
          <fieldset class="rows">      
              <legend>Grupos</legend>
              {% for group in site.data.grupos_list %}
                {% capture grupo_name %}{{ group | first }}{% endcapture %}
                {% assign grupo = site.data.grupos_list[grupo_name] %}
                <input type="checkbox" name="groups" value="{{grupo_name}}" class="row filter">{{ grupo.abreviacao }}      
              {% endfor %}              
          </fieldset> 
        </div>
        <div class="column">
          <fieldset class="rows">      
              <legend>Status</legend>
                <input type="radio" name="status" value="" class="row filter" checked=""> Todos
                <input type="radio" name="status" value="ativo" class="row filter"> Ativo
                <input type="radio" name="status" value="concluído" class="row filter"> Concluído  
                <input type="radio" name="status" value="suspenso" class="row filter"> Suspenso             
          </fieldset> 
        </div>
      </div>
      {% assign status = site.data.projetos_list | group_by: "status" %}
      {% assign statusSorted = status | sort: "name" %}
      {% for y in statusSorted %}
        {% assign statusTitlesSorted = y.items | sort: "titulo" %}
        {% for t in statusTitlesSorted %}
          {% assign projeto = t %}
          {% include projeto-card.html %}
          {% include projeto-modal.html %}
        {% endfor %}
      {% endfor %}
      </ul>
      <div class="column col-12 filter-card-empty" data-groups="none" style="display: none;">
        <div class="card card-link my-1" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
          <div class="card-body">
            <div class="columns col-x-align">
              <div class="column col-sm-12">
                <div class="ml-2">
                  <span class="text-dark mb-0">Nenhum Projeto encontrado</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Modal -->
<script src="/scripts/modal.js"></script>
<!-- Filtros das listas -->
<script type="text/javascript" id="filters" data-filter1="groups" data-filter2="status" src="/scripts/filtroListas.js"></script>
