---
layout: default
---
{% include header.html %}

<div class="container-full">
  <div class="container grid-xl">
    <div class="mt-12 show-md"></div>
    <div class="mt-8"></div>
    <div class="columns negative-m-xl">
      <div class="column col-12">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ site.url }}{{ site.baseurl }}">Air Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Publicações</a>
          </li>
        </ul>
        <h2 class="text-light text-bold">Publicações</h2>
        <p class="text-light mb-2">Todos os trabalhos publicados pelo AIR</p>
        <p class="text-light mb-2">Filtre Por:</p>
        <div class="column">
          <fieldset class="rows">      
              <legend>Grupos</legend>
              {% for group in site.data.grupos_list %}
                {% capture grupo_name %}{{ group | first }}{% endcapture %}
                {% assign grupo = site.data.grupos_list[grupo_name] %}
                <input type="checkbox" name="groups" value="{{grupo_name}}" class="row filter">{{ grupo.abreviacao }}      
              {% endfor %}              
          </fieldset> 
        </div>
        <div class="column">
          <fieldset class="rows">      
              <legend>Data</legend>
                <input type="date" name="date" class="row filter">           
          </fieldset> 
        </div>
      </div>
      {% for publication in site.data.publicacoes-list | sort: "titulo" %}
      {% capture p %}{{ publication | first }}{% endcapture %}
      {% assign publicacao = site.data.publicacoes-list[p] %}
        {% include publicacao-card.html %}
      {% endfor %}
      <div class="column col-12 filter-card-empty" data-groups="none" style="display: none;">
        <div class="card card-link my-1" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
          <div class="card-body">
            <div class="columns col-x-align">
              <div class="column col-sm-12">
                <div class="ml-2">
                  <span class="text-dark mb-0">Nenhuma Publicação encontrado</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- filtros das listas -->
<script type="text/javascript">
  var filters = ['groups', 'date']

  function applyFilters(){
    var query = ""

    for(filter of filters){
      var checked = ''
      $('input[name="'+filter+'"]:checked, input[type="date"][name="'+filter+'"]').each(function(){
        checked += $(this).val()+', '
      })
      checked = checked.trim().slice(0, -1)
      if(checked != ''){        
        query += '[data-'+filter+'*="'+checked+'"]'
      }
    }

    $("div.filter-card:not("+query+")").hide()
    $("div.filter-card"+query).show()

    if($('div.filter-card:visible').length == 0){
      $('div.filter-card-empty')[0].style.display = ''
    }
    else{
      $('div.filter-card-empty')[0].style.display = 'none'
    }
  }

  var input = $('input.filter')

  input.change(function(){
    applyFilters()
  })

</script>



